.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/*header*/
.App-header {
  background-color: yellow;
	width: 700px;
	height: 100px;

  display: flex;

  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
.timerText{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.button1{ 
  margin: auto;
  margin-left: 10px;
}

/*main*/
.App-main{
  background-color:blue;
	width: 700px;
	height: 480px;
  margin-left: auto;
  margin-right: auto;
}
.board{
  margin:auto;
  margin-left: 110px;
}

/*footer*/
.App-footer {
  background-color: green;
	width: 700px;
	height: 70px;
  margin: auto;
}
.error-message{
  color: red;
  font-weight: bold;
  margin-top: 20px;
}